@import '../styles/variables.scss';

$splash-height: 180px;

@keyframes gradient {
	0% {
		background-position: 100% 50%;
	}
	50% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 100% 50%;
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.splash {
	background: #fff;
	background: linear-gradient(43deg, $c1, $c2, $c3, $c4, $c5);
	background-size: 300%;
	animation: gradient 15s ease infinite;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: calc(100vh - 60px);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	> main {
		max-width: 600px;
		margin: auto;
		padding: 10px;

		* {
			color: #fff;
		}

		h1 {
			display: flex;
			align-items: center;

			svg {
				margin-right: 10px;
				animation: rotate 10s linear infinite;
			}
		}

		a {
			background-color: #fff;
			box-shadow: 0px 5px 7.5px #333;
			transition: box-shadow 0.5s;
			* {
				transition: color 0.5s;
				color: #000;
			}

			&:hover {
				box-shadow: 0px 10px 15px #333;
				* {
					color: $c1;
				}
			}
		}
	}
}
