.descriptiveImageContainer {
	margin-top: 20px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	> div {
		// TODO: remove dark once the website has a dark theme
		@media (prefers-color-scheme: dark), (prefers-color-scheme: light) {
			margin-bottom: 15px;
			box-shadow: 0px 10px 15px #888;
		}

		border-radius: 5px;
	}

	> span {
		font-style: italic;
		font-size: 0.8rem;
		margin-bottom: 15px;
	}
}
