.headerAndFooter {
	min-height: 100vh;
	display: flex;
	flex-direction: column;

	.content {
		flex-grow: 1;
		padding: 15px;
		// width: min(600px, 100vw);
		@media (min-width: 640px) {
			width: 600px;
		}
		max-width: 100vw;
		margin: auto;
	}

	footer {
		justify-self: flex-end;
	}
}
