@import '../styles/variables.scss';

.thumbnail {
	display: block;
	text-decoration: none;
	color: #000;

	padding: 10px;
	border-radius: 10px;
	> * {
		margin: 0;
	}

	transition: all 0.5s;
	margin-top: 10px;
	margin-bottom: 20px;
	box-shadow: 0px 5px 7.5px #888;
	&:hover {
		box-shadow: 0px 10px 15px #888;
		color: $c1;
	}
}
